@import "modern-normalize/modern-normalize.css";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  height: 100%;
  font-family: var(--font-inter);
  background-color: var(--color-bg);
  color: #f4f4f5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --mobile: 375px;
  --tablet: 768px;
  --laptop: 1440px;
  --desktop: 1920px;

  --color-bg: #202024;

  --font-size-small: 13px;
  --font-size-text: 16px;
  --font-size-title: 22px;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
}

@media (min-width: 768px) {
  :root {
    --font-size-small: 14px;
    --font-size-text: 15px;
    --font-size-title: 26px;
  }

  .layout-wrapper {
    padding: 0 32px;
  }
}

@media (min-width: 1440px) {
  :root {
    --font-size-title: 30px;
  }

  .layout-wrapper {
    padding: 0 128px;
  }
}

@media (min-width: 1920px) {
  .layout-wrapper {
    padding: 0 132px;
  }
}
